body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.connect_four_game_wr {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#connect_four_game_table_ct {
    height: 540px;
    width: 630px;
    background-color: #2f81ee;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circle {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
}

.red_circle {
    background-color: #f4184e;
}

.blue_circle {
    background-color: #fec900;
}

.red_text {
    color: #f4184e;
}

.blue_text {
    color: #fec900;
}

.finnish_modal_wr {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(47, 129, 238, 0.55);
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 26px;
}

.finnish_modal_wr.open {
    display: flex;
}

.start_game {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.start_game:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.start_game:hover {
    background-color: #2c974b;
}

.start_game:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.start_game:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.start_game:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}